{% if hostname is defined %}
hostname {{ hostname }}
{% endif %}
lldp run
ip routing
ip domain name ansible-mega-lab.local

{% for user in users %}
username {{ user.username }} privilege {{ user.privilege_level }} secret {{user.password}}
{% endfor %}

{% for interface in interfaces %}
interface {{interface.name}}
{% if interface.description is defined %}
    description {{interface.description}}
{% endif %}
{% if interface.switchport is defined and not interface.switchport%}
    no switchport
{% endif %}
{% if interface.mode is defined %}
    switchport mode {{interface.mode}}
{% endif %}
{% if interface.mode is defined and interface.mode == "trunk" %}
    switchport trunk allowed vlan {{interface.allowed_vlans}}
{% endif %}
{% if interface.native_vlan is defined %}
    switchport trunk native vlan {{interface.native_vlan}}
{% endif %}
{% if interface.channel_group is defined %}
    channel-group {{interface.channel_group.id}} mode {{interface.channel_group.mode}}
{% endif%}
{% if interface.ip_address is defined %}
    ip address {{interface.ip_address}} {{interface.mask}}
{% endif %}
{% if interface.shutdown is defined and not interface.shutdown %}
    no shutdown
{% endif %}
{% if interface.advertise is defined and routing is defined and interface.advertise %}
    ip {{ routing.protocol }} {{ routing.process_id }} area {{ routing.area}}
{% endif %}

{% endfor %}

{% if routing is defined and routing.protocol == 'ospf' %}
router ospf {{routing.process_id}}
    log-adjacency-changes detail
{% if routing.router_id is defined %}
    router-id {{routing.router_id}}
{% endif %}
{% endif %}

crypto key generate rsa modulus 2048

ip ssh version 2

line con 0
 logging synchronous
 exec-timeout 0 0

line vty 0 4
 login local
 transport input telnet ssh

service password-encryption